aiohttp>=3.9.0
colorlog>=6.8.0
deepface>=0.0.93
face-recognition>=1.3.0
numpy>=1.24.0
opencv-python>=4.8.1.78
pillow>=10.0.0
psutil>=5.9.0
pyaudio>=0.2.13
pvporcupine>=3.0.2
pvrecorder>=1.2.2
python-dotenv>=1.0.1
requests>=2.31.0
SpeechRecognition>=3.10.0
TTS>=0.22.0
transitions>=0.9.0
webrtcvad>=2.0.10
